<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{today | date:'yyyy'}} Copyright:
        <a href="#">Esteban Ramirez</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->