<div class="row">
    <div class="col-6">
        <mdb-card>

            <mdb-card-header class="info-color white-text text-center py-4">
                <h5>
                    <strong>Contact us</strong>
                </h5>
            </mdb-card-header>


            <!--Card content-->
            <mdb-card-body class="px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;">

                    <!-- Name -->
                    <div class="md-form mt-3">
                        <input type="text" id="materialContactFormName" class="form-control" mdbInput>
                        <label for="materialContactFormName">Name</label>
                    </div>

                    <!-- E-mail -->
                    <div class="md-form">
                        <input type="email" id="materialContactFormEmail" class="form-control" mdbInput>
                        <label for="materialContactFormEmail">E-mail</label>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <label>Subject</label>
                            <select class="browser-default custom-select mb-4">
                      <option value="" disabled>Choose option</option>
                      <option value="1" selected>Feedback</option>
                      <option value="2">Report a bug</option>
                      <option value="3">Feature request</option>
                      <option value="4">Feature request</option>
                    </select>
                        </div>
                    </div>

                    <!--Message-->
                    <div class="md-form">
                        <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" mdbInput></textarea>
                        <label for="materialContactFormMessage">Message</label>
                    </div>

                    <!-- Copy -->
                    <div class="row">
                        <div class="col-md-6 mx-auto d-flex justify-content-center">
                            <mdb-checkbox>Send me a copy of this message</mdb-checkbox>
                        </div>
                    </div>

                    <!-- Send button -->
                    <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect type="submit">Send</button>

                </form>
                <!-- Form -->

            </mdb-card-body>

        </mdb-card>
    </div>
    <div class="col-6">
        <mdb-card>
            <mdb-card-body>
                <table matSort>
                    <tr>
                        <th mat-sort-header="name">Dessert (100g)</th>
                        <th mat-sort-header="calories">Calories</th>
                        <th mat-sort-header="fat">Fat (g)</th>
                        <th mat-sort-header="carbs">Carbs (g)</th>
                        <th mat-sort-header="protein">Protein (g)</th>
                    </tr>

                    <tr>
                        <td>dessert.name</td>
                        <td>dessert.calories</td>
                        <td>dessert.fat</td>
                        <td>dessert.carbs</td>
                        <td>dessert.protein</td>
                    </tr>
                </table>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>
