<mdb-card>
    <mdb-card-body>
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table mat-table id="table" [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoActivo">
                <th mat-header-cell *matHeaderCellDef> tipo Activo </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoActivo}} </td>
            </ng-container>

            <ng-container matColumnDef="ValorActivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Activo </th>
                <td mat-cell *matCellDef="let element"> {{element.ValorActivo}} </td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Valor Activo </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" class="mr-2" (click)="edit(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-raised-button color="warn" (click)="delete(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>

    </mdb-card-body>
</mdb-card>
