<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-grey lighten-3" [containerInside]="false">

    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" height="59" alt="">
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Control activos
                  <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['activos']">Activos</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['area']">Area</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['linea']">Linea</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['sublineaMueble']">Sub linea Mueble</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['sublineaInmueble']">Sub linea Inmueble</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['transferirActivo']">Transferir activo</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['debaja']">Activos dados debaja</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['funcionarios']">Funcionarios</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Reportes de Cambios
                  <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['reporteActivos']">Reporte activos</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['reporteArea']">Reporte area</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['reporteFuncionarios']">Reporte funcionarios</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['ReporteUsuarios']">Reporte usuarios</a>
                </div>
            </li>

            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
               Usuarios
                <span class="caret"></span>
              </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['cargoUsuario']">Cargo del ususario</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['usuarios']">Usuarios</a>
                    <a class="dropdown-item waves-light" routerLinkActive="active" mdbWavesEffect [routerLink]="['permisos']">Permisos</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link">
                    <div class="btn-group" mdbDropdown mdbDropdownToggle>
                        <mdb-icon fas icon="user"></mdb-icon>
                        <mdb-icon fas icon="angle-down"></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesion</a>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
