<div class="col-4 mt-5 offset-4">

    <form class="white text-center border border-light p-5" (ngSubmit)="login(f)" #f="ngForm">

        <p class="h3 mb-4">INVENTARIO</p>
        <p class="mb-4">Ingresar</p>

        <!-- Email -->
        <div class="md-form">
            <input type="email" name="email" required email [(ngModel)]="usuario.email" class="form-control" mdbInput>
            <label for="">Correo electronico</label>
        </div>

        <!-- Password -->
        <div class="md-form">
            <input type="password" name="password" required minlength="6" [(ngModel)]="usuario.password" class="form-control" mdbInput>
            <label for="">Contraseña</label>
        </div>

        <div class="d-flex justify-content-around">
            <div>
                <!-- Forgot password -->
                <a (click)="olvidePass()" class="re-text">Olvido su contraseña?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="my-4" type="submit">Iniciar Sesion</button>

        <!-- Register -->
        <p>Software de control de inventario</p>
    </form>
</div>