app-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.main {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('https://images.pexels.com/photos/1797428/pexels-photo-1797428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
}
