<div class="col-4 mt-5 offset-4">

    <p class="float-left" mdbTooltip="Volver" placement="top" (click)="volver()">
        <mdb-icon fas icon="arrow-circle-left" size="3x" class="white-text pr-3" aria-hidden="true"></mdb-icon>
    </p>

    <mdb-card>
        <mdb-card-header class="grey darken-3 white-text text-center py-4">
            <h5>
                <strong>Olvide mi contraseña</strong>
            </h5>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5">

            <!-- Form -->
            <div class="text-center" style="color: #757575;">

                <p>Para restablecer su contraseña debe ingresar su correo electronico en este campo, si este no esta en el sistema esta accion no se podra ejecutar</p>

                <!-- E-mai -->
                <div class="md-form">
                    <input type="email" required [pattern]="'^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'" [(ngModel)]="email" class="form-control" mdbInput>
                    <label>E-mail</label>
                </div>

                <!-- Sign in button -->
                <button (click)="resetPass(email)" mdbBtn color="info" block="true" class="my-4">Aceptar</button>

            </div>
            <!-- Form -->

        </mdb-card-body>

    </mdb-card>
</div>
