<h1 mat-dialog-title>Editar - </h1>
<form (ngSubmit)="editar(f)" #f="ngForm">
    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>id</mat-label>
            <input matInput [(ngModel)]="datos.id" name="id" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Valor Activo</mat-label>
            <input matInput [(ngModel)]="datos.ValorActivo" type="number" name="ValorActivo">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo Activo</mat-label>
            <input matInput [(ngModel)]="datos.tipoActivo" name="tipoActivo">
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
        <button mat-raised-button mat-dialog-close type="submit" color="primary">Aceptar</button>
    </div>
</form>
