/* You can add global styles to this file, and also import other style files */

.row {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: -1px !important;
    margin-left: -1px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
